* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

body {
  /* background-color: rgb(255, 255, 255); */
  /* color: #f8f8f8; */
}

.header {
  height: 100vh;
  background-image: url(images/slider-bg.jpg);
  background-size: cover;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(255, 251, 251);
  /* font-size: 30px; */
  height: 80px;
  width: 96%;
  margin-left: 20px;
}

.log p {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.heaader-section {
  width: 45%;
  margin-top: 14%;
  margin-left: 20%;
  height: 36%;
}

#h1 {
  font-weight: bold;
  font-size: 3rem;
  font-family: 'Playfair Display', serif;
  color: #f8f8f8;
  
}

p {
  width: 55%;
  margin-top: 15px;
  color: #f8f8f8;
}

.heaader-section button {
  width: 200px;
  height: 50px;
  margin-top: 59px;
  background: transparent;
  color: #fd9c6b;
  border-radius: 10px;
  border-color: #fd9c6b;
  cursor: pointer;
}


.heaader-section button:hover{
  background-color: #fd9c6b;
  color: #fff;
}

.checkbox {
  background-color: #ffffff;
  padding: 5px;
  border-radius: 50px;
  cursor: pointer;
  size: 50px;
}

.product {
  margin-top: 50px;
  padding: 20px;
  text-align: center;
}

.product h2 {
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

}
.products{
  /* background-color: rgb(11, 199, 199); */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
  }

.images{
  /* background-color: ; */
  /* border: 2px black solid; */
  padding: 22px;

}
.images img{
  height: 300px;
  width: 280px;
  padding: 60px 50px;
  background-color: rgba(189, 180, 180, 0.289);
  cursor: pointer;
}
.new{
  background-color: white;
  border-radius: 85px;
  display: flex;
  position: absolute;
  height: 53px;
  margin-top: 13px;
  margin-left: 12px;
}
.new p{
  color: black;
  padding: 16px 20px;
}
.bot{
  display: flex;
  position: absolute;
  /* border: 2px rgb(0, 106, 255) solid; */
  /* justify-content: space-between; */
}
#price{
  /* display: flex; */
  /* border: 2px rgb(0, 0, 0) solid; */
  display: flex;
  width: 100px;
  /* position: relative; */
}
.bot p{
  color: rgb(0, 0, 0);
  display: flex;
  /* position: absolute; */
  /* border: 2px rgb(0, 106, 255) solid; */
  /* justify-content: space-between; */
  width: 180px;
  margin-bottom: -13px;
  background-color: rgba(189, 180, 180, 0.289);
}
#test{
  color: #fd9c6b;
}
.btn{
  width: 40%;
  align-content: center;
  margin-top: 20px;
  height: 30px;
}
.btn button{
  background-color: #fd9c6b;
  width: 220px;
  border-color: #fd9c6b;
  color: #fcfbfa;
  height: 45px;
  
 
}
.btn button:hover{
  background-color: #ffffff;
  color: #fd9c6b;
}
/* .about{
  margin-top: 70px;
}
.container .about-img{
  width: 600px;
  left: 18px;
  z-index: 10;
  display: flex;
  position: relative;
  top: -180px;
}
.container .baground{
  background-color: black;
  width: 250px;
  height: 200px;
}
.h2{
  position: absolute;
  align-content: end;
  display: flex;
  margin-left: 31%;
  color: black;
  width: 20%;
  
}
.h2 p{
  color: black;
} */
.about{
  padding-top: 140px;
}


.about .img-box {
  position: relative;
  padding: 25px 0 0 25px;
}

.about .img-box img {
  width: 100%;
  position: relative;
}

.about .img-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 250px;
  background-color: #160e0b;
}

.about .detail-box p {
  margin-top: 10px;
  margin-bottom: 35px;
  color: black;
  line-height: 29px;
  inline-size: 505px;
}

.about .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #fd9c6b;
  color: #ffffff;
  border-radius: 0;
  border: 1px solid #fd9c6b;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.about .detail-box a:hover {
  background-color: transparent;
  color: #fd9c6b;
}


.offer-zone{
  padding-top: 55px;
}

.offer-zone .row > div {
  display: flex;
          flex-direction: column;
}

.offer-zone .box {
  margin: 10px;
  height: 100%;
  position: relative;
  min-height: 175px;
}

.offer-zone .box img {
  width: 100%;
  min-height: 100%;
}

.offer-zone .box .detail-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
  color: #ffffff;
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.15);
}


.offer-zone .box .detail-box h2 {
  font-weight: bold;
}

.offer-zone .box .detail-box a {
  display: inline-block;
  padding: 8px 40px;
  background-color: transparent;
  color: #fd9c6b;
  border-radius: 0;
  border: 1px solid #fd9c6b;
  transition: all .2s;
  margin-top: 10px;
}

.offer-zone .box .detail-box a:hover {
  background-color: #fd9c6b;
  color: #ffffff;
}

.offer-zone .box.offer-box1 {
  min-height: 225px;
}

.offer-zone .box.offer-box1 .detail-box {
          justify-content: flex-start;
}

.offer-zone .box.offer-box1 .detail-box h2 {
  font-size: 3rem;
}

.offer-zone .box.offer-box2 .detail-box h2, .offer-zone .box.offer-box3 .detail-box h2 {
  font-size: 2rem;
}

.offer-zone .box.offer-box2 .detail-box {
          align-items: flex-end;
          justify-content: flex-end;
}

.offer-zone .box.offer-box3 .detail-box {
  
          justify-content: flex-end;
}
.blog{
  margin-top: 100px;
}

.container .blog-head h2{
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;

}
.container .img-container{
  display: flex;
  /* border: 2px greenyellow solid; */
}
.container .blog1{
  width: 50%;
  /* background-color: #007af5; */
}
.container .blog2{
  /* background-color: #0dff00; */
  width: 50%;
 
   /* border: 2px greenyellow solid; */
 }
 .container p{
  /* padding-left: 30px; */
  color: #160e0b;
 }
 .b1-img img{
  width: 110%;
  margin-left: -27px;
  margin-top: -15px;
  height: 505px;
 }
 .b2-img img{
  width: 118%;
  margin-top: -42px;
  margin-left: -55px;
 }
 .blog2 .b2{
  /* padding-left: 20px; */

  width: 95%;
  background-color: #f1f2f3;
 }
 .blog1 .b1{
  background-color: #f1f2f3;
  width: 95%;
 }
 .b1 p{
  width: 100%;
  border: 1px red solid;
 }